.name{
	width:100px;
}
.col2{
	width: 60%;
}
.column2, .cell2{
	text-align:right;
}
.column3, .cell3{
	text-align:right;
}
.column4, .cell4{
	text-align:center;
}
.column5, .cell5{
	text-align:right;
}