.column0, .cell0{
	width:170px;
}

.column1, .cell1{
	width:100px;
	text-align:right;
}
.column2, .cell2{
	width:80px;
	text-align:right;
}
.column3, .cell3{
	width:170px;
	text-align:center;
}
.column4, .cell4{
	width:170px;
	text-align:center;
}

.column6, .cell6{
	width:200px;
	text-align:center;
}